<div class="row">
    <div class="col-lg-4">
      <h1> MI APP DE PIANO</h1>
        <div class="list-group">
            <a (click)="aplicarSonido(1)" class="list-group-item list-group-item-action" style="background-color: red;"></a>
            <a (click)="aplicarSonido(2)" class="list-group-item list-group-item-action" style="background-color: rgb(218, 177, 102);"></a>
            <a (click)="aplicarSonido(3)" class="list-group-item list-group-item-action" style="background-color: rgb(233, 233, 192);"></a>
            <a (click)="aplicarSonido(4)" class="list-group-item list-group-item-action" style="background-color: rgb(102, 238, 102);"></a>
            <a (click)="aplicarSonido(5)" class="list-group-item list-group-item-action" style="background-color: rgb(155, 243, 243);"></a>
            <a (click)="aplicarSonido(6)" class="list-group-item list-group-item-action" style="background-color: rgb(147, 147, 226);"></a>
            <a (click)="aplicarSonido(7)" class="list-group-item list-group-item-action" style="background-color: rgb(243, 221, 243);"></a>
          </div>
    </div>
</div>



  <!-- <audio controls>
    <source src="../assets/sonidos/note2.wav">
  </audio> -->