.img {
    width: 150px;
    height: 150px;
    margin: 30px;
    background-color: lightseagreen;
    border-radius: 10px;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 101%;
    height: 750px;
    background-repeat: no-repeat;
    background-size: 100em;
    background-color: skyblue;
    /* background: url("../assets/img/fondo.png"); */
}