<hr>
<hr>
<hr>
<div class="jumbtrom">
    <h4 class="display-4 text-center" style="color: rgb(255, 255, 255);">MI LISTADO DE TAREAS</h4>
</div>
<hr>
<div class="row">
    <div class="container">
        <div class="col-lg-8 offset-lg-2">
            <app-list-tareas></app-list-tareas>
        </div>
    </div>
</div>
<hr>
<hr>
<hr>
<div class="hero-body">
    <label>
    <h4 class="subtitle" style="color: rgb(255, 255, 255);">
      MI OCTAVA APP REALIZADA EN ANGULAR    
    </h4>
    <p class="subtitle" style="color: rgb(255, 255, 255); width: 200rem;">
     Hecho por: Jhianpol Ramos 
    </p> 
  </label>
  </div>
